<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %></title>
</head>
<body>

    <%- include('nav.ejs') %>

    
    <form action="/projects-update/update/" method="post">
        <h1>Edit Project Information</h1>



        <input type="hidden" name="id" value="<%= project[0].id %>"/>


        <label for="">Change Project Title
            <input type="text" name="title" value="<%= project[0].title %>" placeholder="<%= project[0].title %>" />
        </label>

        <label for="">Change Project Description
            <textarea name="description" id="" cols="30" rows="5" value="<%= project[0].description %>" placeholder="<%= project[0].description %>"></textarea>
        </label>

        <label for="">Change Project Start Date
            <input type="date" name="start_date" value="<%= project[0].start_date %>" placeholder="<%= project[0].start_date %>" />
        </label>
        <label for="">Change Project Due Date
            <input type="date" name="due_date" value="<%= project[0].due_date %>" placeholder="<%= project[0].due_date %>" />
        </label>

        <button type="submit">Submit Changes</button>
    </form>
</body>
</html>